# Python
__pycache__/
*.log
*.sqlite3

# Virtual environments
.venv/
.env/

# VSCode
.vscode/

# Sphinx 
docs/_build/
docs/build/
*.log
*.doctree

# uv
uv.lock

# Git
.git/

# Manim generated media
media/

# Save
saves/